* {
    background-color: #F5DBB6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: bisque;
    height: 150px;
}



h1 {
    font-family:monospace;
    margin-left: 40px;
    color: #7B4D0A;
    background-color: transparent;
    font-size: 60px;
}

body {
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    list-style: none;
  }
  
  nav a {
    color: #7B4D0A;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }



main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2%;
    display: inline-block;
    }

.work {
    display: flex;
}  

.about {
    display: flex;
}

.contact {
    display: flex;
}


.aboutmehead {
    display: inline-flex;
    width: 30%;
    text-justify: right;
    padding-right: 10px;
    border-right: #F4AA3F solid;
    height: 400px;
    margin-top: 10px;
}

.aboutmehead img {
    display: inline-block;
    margin-left: 10px;
    border-style: ridge;
    height: 90%;
    overflow: hidden;
    float: left;

}

.aboutmebody {
    display: inline-flex;
    padding-left: 50px;
    height: 400px;
    width: 65%;
    text-align: left;
    margin-top: 10px;
}

.workhead {
    display: inline-flex;
    width: 30%;
    justify-content: flex-end;
    padding-right: 10px;
    border-right: #F4AA3F solid;
    height: 600px;
    margin-top: 10px;
}



.workbody {
    display: inline-flex;
    height: 600px;
    width: 65%;
    text-align: left;
    margin-top: 10px;
    padding-left: 50px;
}

.workbody img {
    width: 50%;
    border-style:groove;
    border-color: black;
}


.contacthead {
    display: inline-flex;
    width: 30%;
    text-align: right;
    padding-right: 10px;
    border-right: #F4AA3F solid;
    height: 200px;
    margin-top: 10px;
    justify-content: right;
}

.contactbody {
    display: inline-flex;
    padding-left: 50px;
    height: 200px;
    width: 65%;
    text-align: left;
    margin-top: 10px;
}

footer {
    text-align: center;
    height: 100px;
    padding-top: 60px;
}



@media screen and (max-width: 768px) {

    main, {
      flex-direction: column;
    }
}