* {
    background-color: #F5DBB6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: bisque;
    height: 150px;
}

header img {
    max-height: 100px;
    display: flex;
    width: 100%;
}


h1 {
    font-family:monospace;
    margin-left: 40px;
    color: #7B4D0A;
    background-color: transparent;
    font-size: 60px;
}

body {
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    list-style: none;
  }
  
  nav a {
    color: #7B4D0A;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }


/*
nav ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    min-width: 600px;
    background-color: #7B4D0A;
    padding: 40px;
    font-size: 50px;
    background-color: transparent;
}

nav a {
    display: flex;
    background-color: #7B4D0A;
    border: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #7B4D0A;
    font-size:medium;
    background-color: transparent;
}
*/



main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2%;
    display: inline-block;
    }

.work {
    display: flex;

}    


.aboutmehead {
    display: inline-flex;
    width: 30%;
    text-align: right;
    padding-right: 10px;
    border-right: #F4AA3F solid;
    height: 400px;
    margin-top: 10px;
    justify-content: right;
}




.aboutmebody {
    display: inline-flex;
    padding-left: 50px;
    height: 400px;
    width: 65%;
    text-align: left;
    margin-top: 10px;
}

.workhead {
    display: inline-flex;
    width: 30%;
    justify-content: right;
    padding-right: 10px;
    border-right: #F4AA3F solid;
    height: 600px;
    margin-top: 10px;
}



.workbody {
    display: inline-flex;
    height: 600px;
    width: 65%;
    text-align: left;
    margin-top: 10px;
    padding-left: 50px;
}

.workbody img {
    width: 50%;
    padding-top: 30px;

}


.contacthead {
    display: inline-flex;
    width: 30%;
    text-align: right;
    padding-right: 10px;
    border-right: #F4AA3F solid;
    height: 400px;
    margin-top: 10px;
    justify-content: right;
}

.contactbody {
    display: inline-flex;
    padding-left: 50px;
    height: 400px;
    width: 65%;
    text-align: left;
    margin-top: 10px;
}

footer {
    text-align: center;
    height: 100px;
    padding-top: 60px;
}


/*
.floatleft {
    float: left;
    width: 30%;
    height: 400px;
}

.floatright {
    float: right;
    width: 70%;
    height: 400px;
}

/*
#aboutme {
    display:flex;
    flex-wrap: wrap;
    width: 30%;
}

#work {
    display:flex;
    flex-wrap: wrap;
}

#contact {
    display:flex;
    flex-wrap: wrap;
}

.cardleft1 {
    padding-right: 10px;
    border-width: 1px;
    flex: 1 0 0;
    padding: 10px;
    text-align: right;
}

.cardright1 {
    width: 70%;
    border-width: 1px;
    flex: 1 0 0;
    padding: 10px;
    border-style: solid;
}

.cardleft2 {
    padding-right: 10px;
    border-width: 1px;
    flex: 1 0 0;
    padding: 10px;
    text-align: right;
}

.cardright2 {
    width: 70%;
    border-width: 1px;
    flex: 1 0 0;
    padding: 10px;
    border-style: solid;
}

.cardleft3 {
    padding-right: 10px;
    border-width: 1px;
    flex: 1 0 0;
    padding: 10px;
    text-align: right;
}

.cardright3 {
    width: 70%;
    border-width: 1px;
    flex: 1 0 0;
    padding: 10px;
    border-style: solid;
}